/* CONFIGURACION GENERAL */

body {
    margin: 0;

    font-family: Arial, sans-serif;

    background-color: #fff4e6;

    color: #2b1b14;
}


/* PRESENTACION */

.presentacion {
    width: 80%;
    display: flex;
    flex-direction: column;

    margin: 30px auto 20px;

    padding: 25px;

    text-align: center;

    background-color: #a84418;

    color: white;

    border-radius: 10px;

    box-shadow: 2px 2px 10px lightgray;
}

.presentacion h1 {
    margin-top: 0;

    font-size: 28px;
}

.presentacion p {
    margin-bottom: 0;
}

.flecha {
    align-self: flex-start;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* FORMULARIO */

form {
    width: 80%;

    margin: auto;

    padding: 20px;

    background-color: white;

    border-radius: 10px;

    box-shadow: 2px 2px 10px lightgray;
}


/* CAMPOS */

fieldset {
    margin-bottom: 20px;

    padding: 20px;

    border: 2px solid #d76525;

    border-radius: 8px;
}

legend {
    padding: 5px 10px;

    background-color: #d76525;

    color: white;

    border-radius: 5px;

    font-weight: bold;
}


/* NOMBRE Y APELLIDO */

.nombre {
    display: flex;

    gap: 30px;
}

.nombre div {
    flex: 1;
}

.nombre label {
    display: block;

    margin-bottom: 5px;

    font-weight: bold;
}

.nombre input[type="text"] {
    width: 90%;

    padding: 9px;

    border: 1px solid gray;

    border-radius: 5px;
}


/* OPCIONES */

fieldset label {
    display: block;

    margin: 10px 0;
}


/* SELECT */

select {
    padding: 10px;

    width: 100%;

    border: 1px solid gray;

    border-radius: 5px;

    background-color: #fff4e6;
}


/* BOTON */

.boton {
    display: block;

    margin: 10px auto 0;

    padding: 12px 30px;

    border: none;

    border-radius: 6px;

    background-color: #a84418;

    color: white;

    font-size: 16px;

    cursor: pointer;
}

.boton:hover {
    background-color: #d76525;
}